@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgba(0, 128, 0, 0.673);
}

.simb {
  font-size: 70px;
}

.num {
  font-size: 95px;
}

#prueba {
  right: 13px;
}
/* ♦ ♥ ♠ ♣ */
